.review-form-container{
    max-width: 900px; /* Maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 40px; /* Padding inside the container */
    margin-top: 10%; /* Top margin of 10% */
}

.reviews-text {
    margin-top: 30px; 
    text-align: left;
}

.review-form-table{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 10px;
    background-color: #ebf5fd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-form-table-header{
    background-color: #00C9B1;
    height: 40px;
    padding: 5px;
    color: #fff;
    text-decoration: solid;
}

.review-form-table-row{
    border: #00C9B1;
    border-style: solid;
    border-width: 0px 0px 4px 0px;
}

.review-form-table-btn{
    padding: 5px 10px; /* Padding inside buttons */
    font-size: 16px; /* Font size of buttons */
    border: none; /* No border for buttons */
    border-radius: 4px; /* Border radius for rounded corners on buttons */
    cursor: pointer; /* Cursor style on hover for buttons */
    background-color: #00C9B1; /* Background color for primary buttons */
    color: #fff; /* Text color for primary buttons */
    width: 100%;
}

.doctorbg{
    padding: 20px;
    -webkit-scrollbar {
      display: none;
  }
  }

.appointment-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    /* height: auto;
    overflow-y: auto; */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    padding: 12px 20px;
    background-color: #00C9B1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #00a390;
  }
  
  
  .btnslot{
    background-color: green;
    cursor: pointer;
    /* color: rgb(249, 60, 60); */
  }


  .radios-div {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Adjust width as needed */
  }
  
  .radios-label {
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  .radios-input {
    margin-right: 10px; /* Space between radio button and label */
  }